<div class='nested-fields'>
  <div class='form-group mb-2'>
    <%= form.hidden_field :_destroy %>
    <%= form.text_field :name, placeholder: 'Answer', class: 'form-control' %> 
    <%= form.check_box :correct %>  Correct answer
    <small>
      <%= link_to "Remove Answer", "#", data: { action: "click->nested-form#remove_association" } %>
    </small>
  </div>
<div>
