<%= render 'shared/navbar' %>
<div class="row justify-content-center mt-3 mb-5">
  <div class="col-md-3">
<h1>Editing Questionnaire</h1>

<%= render 'form', questionnaire: @questionnaire, class: "ml-3" %>
<%= link_to 'Show', @questionnaire, class: "btn btn-outline-primary mt-2" %>
<%= link_to 'Back', questionnaires_path, class: "btn btn-outline-secondary mt-2" %>
</div>
