<div class="container">
<div class="row mt-3 mb-5">

<h1>Editing Questionnaire</h1>
</div>
<%= render 'form', questionnaire: @questionnaire %>

<%= link_to 'Show', @questionnaire, class: "btn btn-outline-primary mt-3" %>
<%= link_to 'Back', questionnaires_path, class: "btn btn-outline-secondary mt-3" %>
<div>
