<%= render 'shared/navbar' %>
<div class="row mb-5">
  <div class="col-md-3">
  <div class="container_img">
      <%= image_tag "aviso.png" %>
    </div>
<h2 class="new"><strong>New Assessment</strong></h2>

<%= render 'form', questionnaire: @questionnaire, class: "ml-4" %>

<div class="container_back">
<%= link_to '◀ Back', questionnaires_path, class: "btn btn-outline-secondary mt-1" %>
</div>
</div>
</div>
