.navbar-lewagon {
  justify-content: space-between;
  background: lightgrey;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-ident img {
  margin-left: 0;
  width: 80px;
}

.navbar-lewagon .navbar-ident img {
  margin-right: 20px;
  margin-top: 3px;
  width: 120px;
}

.dropdown-item {
  color: black;
}

.dropdown-item:hover {
  background-color: lightgrey;
  color: grey;
}
